services:
  api:
    stdin_open: true
    tty: true
    build:
      context: ./fastapi
      dockerfile: Dockerfile
    ports:
      - "5000:5000"
    volumes:
      - ./fastapi/logs:/app/logs
      - ./fastapi/app:/app/app
