{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://unpkg.com/@tailwindcss/browser@4"></script>
    <script src="//unpkg.com/alpinejs" defer></script>
    <script src="//unpkg.com/plotly.js@3.0.1/dist/plotly.min.js" charset="utf-8"></script>
    <link href="https://unpkg.com/remixicon/fonts/remixicon.css" rel="stylesheet"/>
    <script src="{% static 'mixtape/core/js/alpine_theme_store.js' %}"></script>
    <script src="{% static 'mixtape/core/js/feedback_modal.js' %}"></script>
    <!-- Custom Tailwind Styles -->
    <style type="text/tailwindcss">
      /* CDN Tailwind supports `@import url` here, but we need to include `@import "tailwindcss";`
         within the referenced file */
      @import url("{% static 'mixtape/core/css/tailwind.css' %}");
    </style>
    <!-- Custom CSS Variables -->
    <link rel="stylesheet" href="{% static 'mixtape/core/css/theme.css' %}">
    <title>{% block title %}MIXTAPE{% endblock %}</title>
    {% block extra_head %}{% endblock %}
  </head>
  <body>
    <div id="content">
      {% block content %}{% endblock %}
    </div>
    {% if mixtape_feedback_modal_enabled %}
      {% include "core/custom/user_feedback.html" %}
    {% endif %}
  </body>
</html>
