<div x-data="{
    data: [],
    layout: {
      title: {text: 'Actions VS Reward Frequency'},
      xaxis: {title: {text: 'Action'}},
      yaxis: {title: {text: 'Reward Frequency'}},
      autosize: true,
      barmode: Object.keys(actionVReward).length > 1 ? 'group' : 'stack',
      showlegend: visOptions.includes('plotLegends'),
      paper_bgcolor: $store.theme.paper_bgcolor,
      plot_bgcolor: $store.theme.plot_bgcolor,
      font: $store.theme.font,
      xaxis: {
        gridcolor: $store.theme.axis.gridcolor,
        zerolinecolor: $store.theme.axis.zerolinecolor
      },
      yaxis: {
        gridcolor: $store.theme.axis.gridcolor,
        zerolinecolor: $store.theme.axis.zerolinecolor
      },
    },
    config: {
      displayModeBar: false,
      responsive: true
    },
    plot: null,
    actionVReward: Object.keys(actionVReward).length > 1 ? actionVReward : Object.values(actionVReward)[0],
  }"
  x-init="
    data = Object.entries(actionVReward).map(([grouping, values]) => ({
      x: Object.keys(values),
      y: Object.values(values),
      type: 'bar',
      name: grouping,
      marker: {
        line: {
          width: 2
        }
      }
    }));
    plot = Plotly.react($refs.actionsRewards, data, layout, config);
    $watch('visOptions', () => {
      $nextTick(() => {
        Plotly.relayout(
          $refs.actionsRewards, {
            autosize: true,
            showlegend: visOptions.includes('plotLegends')
          })
      });
    });"
>
  <div x-ref="actionsRewards"></div>
</div>
