<div x-data="{
    data: [],
    layout: {
      title: {text: 'Actions VS Frequency'},
      autosize: true,
      barmode: 'stack'
    },
    plot: null,
  }"
  x-init="
    data = [];
    plotData.unique_agents.forEach((agent) => {
      data.push({
        x: Object.keys(plotData.action_v_frequency[agent]),
        y: Object.values(plotData.action_v_frequency[agent]),
        type: 'bar',
        name: agent
      });
    });
    plot = Plotly.newPlot($refs.actionsFrequency, data, layout, {displayModeBar: false})"
>
  <div x-ref="actionsFrequency"></div>
</div>
