<div x-data="{
    data: [],
    layout: {
      title: {text: 'Actions VS Frequency'},
      autosize: true,
      barmode: 'stack',
      showlegend: visOptions.includes('plotLegends'),
      paper_bgcolor: $store.theme.darkMode ? '#111827' : '#F1F2F6',
      plot_bgcolor: $store.theme.darkMode ? '#111827' : '#F1F2F6',
      font: {
        color: $store.theme.darkMode ? '#D1D5DB' : '#000000'
      },
      xaxis: {
        gridcolor: $store.theme.darkMode ? '#4a5565' : '#d1d5dc',
        zerolinecolor: $store.theme.darkMode ? '#F1F2F6' : '#111827'
      },
      yaxis: {
        gridcolor: $store.theme.darkMode ? '#4a5565' : '#d1d5dc',
        zerolinecolor: $store.theme.darkMode ? '#F1F2F6' : '#111827'
      },
    },
    config: {
      displayModeBar: false,
      responsive: true
    },
    plot: null,
  }"
  x-init="
    data = [];
    plotData.unique_agents.forEach((agent) => {
      data.push({
        x: Object.keys(plotData.action_v_frequency[agent]),
        y: Object.values(plotData.action_v_frequency[agent]),
        type: 'bar',
        name: agent
      });
    });
    plot = Plotly.react($refs.actionsFrequency, data, layout, config);
    $watch('visOptions', () => {
      $nextTick(() => {
        Plotly.relayout(
          $refs.actionsFrequency,
          {
            autosize: true,
            showlegend: visOptions.includes('plotLegends')
          })
      });
    });"
>
  <div x-ref="actionsFrequency"></div>
</div>
