<div x-data="{
    data: [],
    layout: {
      title: {text: 'Actions VS Reward Frequency'},
      xaxis: {title: {text: 'Action'}},
      yaxis: {title: {text: 'Reward Frequency'}},
      autosize: true,
      barmode: 'stack',
      showlegend: visOptions.includes('plotLegends'),
      paper_bgcolor: $store.theme.darkMode ? '#111827' : '#F1F2F6',
      plot_bgcolor: $store.theme.darkMode ? '#111827' : '#F1F2F6',
      font: {
        color: $store.theme.darkMode ? '#D1D5DB' : '#000000'
      },
      xaxis: {
        gridcolor: $store.theme.darkMode ? '#4a5565' : '#d1d5dc',
        zerolinecolor: $store.theme.darkMode ? '#F1F2F6' : '#111827'
      },
      yaxis: {
        gridcolor: $store.theme.darkMode ? '#4a5565' : '#d1d5dc',
        zerolinecolor: $store.theme.darkMode ? '#F1F2F6' : '#111827'
      },
    },
    config: {
      displayModeBar: false,
      responsive: true,
      template: $store.theme.darkMode ? 'plotly_dark' : 'plotly'
    },
    plot: null,
  }"
  x-init="
    data = Object.entries(plotData.action_v_reward).map(([agent, actions]) => ({
      x: Object.keys(actions),
      y: Object.values(actions),
      type: 'bar',
      name: agent
    }));
    plot = Plotly.react($refs.actionsRewards, data, layout, config);
    $watch('visOptions', () => {
      $nextTick(() => {
        Plotly.relayout(
          $refs.actionsRewards, {
            autosize: true,
            showlegend: visOptions.includes('plotLegends')
          })
      });
    });"
>
  <div x-ref="actionsRewards"></div>
</div>
