<!DOCTYPE html>
<html lang="en" data-theme="dark">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://unpkg.com/@tailwindcss/browser@4"></script>
    <script src="//unpkg.com/alpinejs" defer></script>
    <script src="//unpkg.com/plotly.js@3.0.1/dist/plotly.min.js" charset="utf-8"></script>
    <link href="https://unpkg.com/remixicon/fonts/remixicon.css" rel="stylesheet"/>
    <link href="https://cdn.jsdelivr.net/npm/daisyui@5" rel="stylesheet" type="text/css" />
    <!-- Global Variables -->
    <script>
      document.addEventListener('alpine:init', () => {
        Alpine.store('theme', {
          darkMode: window.matchMedia('(prefers-color-scheme: dark)').matches,
          darkbg: '#111827',
          lightbg: '#F1F2F6',
          lightline: '#4a5565',
          darkline: '#d1d5dc',
          get paper_bgcolor() { return this.darkMode ? this.darkbg : this.lightbg; },
          get plot_bgcolor() { return this.darkMode ? this.darkbg : this.lightbg; },
          lighttext: '#D1D5DB',
          darktext: '#000000',
          get font() {
            return {
              color: this.darkMode ? this.lighttext : this.darktext
            };
          },
          get axis() {
            return {
              gridcolor: this.darkMode ? this.lightline : this.darkline,
              zerolinecolor: this.darkMode ? this.lightbg : this.darkbg
            };
          }
        });
      });
    </script>
    <title>{% block title %}MIXTAPE{% endblock %}</title>
    <style>
      [x-cloak] {
        display: none;
      }
    </style>
  </head>
  <body>
    <div id="content">
      {% block content %}{% endblock %}
    </div>
  </body>
</html>
