<!DOCTYPE html>
<html lang="en" x-data :data-theme="$store.theme.darkMode ? 'dark' : 'light'" class="bg-base-300">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://unpkg.com/@tailwindcss/browser@4"></script>
    <script src="//unpkg.com/alpinejs" defer></script>
    <script src="//unpkg.com/plotly.js@3.0.1/dist/plotly.min.js" charset="utf-8"></script>
    <link href="https://unpkg.com/remixicon/fonts/remixicon.css" rel="stylesheet"/>
    <link href="https://cdn.jsdelivr.net/npm/daisyui@5" rel="stylesheet" type="text/css" />
    <!-- Global Variables -->
    <script>
      document.addEventListener('alpine:init', () => {
        // Theme store
        Alpine.store('theme', {
          darkMode: window.matchMedia('(prefers-color-scheme: dark)').matches,
          darkbg: '#15191e',
          lightbg: '#eeeeee',
          lightline: '#4a5565',
          darkline: '#d1d5dc',
          get paper_bgcolor() { return this.darkMode ? this.darkbg : this.lightbg; },
          get plot_bgcolor() { return this.darkMode ? this.darkbg : this.lightbg; },
          lighttext: '#D1D5DB',
          darktext: '#000000',
          get font() {
            return {
              color: this.darkMode ? this.lighttext : this.darktext
            };
          },
          get axis() {
            return {
              gridcolor: this.darkMode ? this.lightline : this.darkline,
              zerolinecolor: this.darkMode ? this.lightbg : this.darkbg
            };
          }
        });
        // Visualization options store
        Alpine.store('visOptions', [
          'actionClustering',
          'combatReward',
          'decomposedRewards',
          'enemyHealth',
          'episodeDetails',
          'episodeImages',
          'friendlyHealth',
          'navigation',
          'obsClustering',
          'perUnitActions',
          'playbackControls',
          'plotLegends',
          'predictedRewards',
          'rewardsOverTime',
          'timelines',
          'valueEstimate',
          'unitsOverTime',
        ]);
        // Color Palette store
        Alpine.store('colorPalette', [
          '#003D30', '#5A0A33', '#5745', '#810D49', '#00735C', '#AB0D61', '#9175', '#D80D7B',
          '#00AF8E', '#FF2E95', '#00CBA7', '#FF78AD', '#00EBC1', '#FFACC6', '#86FFDE', '#FFD7E1',
          '#00306F', '#460B70', '#00489E', '#6B069F', '#005FCC', '#8E06CD', '#0079FA', '#B40AFC',
          '#009FFA', '#ED0DFD', '#00C2F9', '#FF66FD', '#00E5F8', '#FFA3FC', '#7CFFFA', '#FFD5FD',
          '#4002', '#5F0914', '#005A01', '#86081C', '#7702', '#B20725', '#9503', '#DE0D2E',
          '#00B408', '#FF4235', '#00D302', '#FF8735', '#00F407', '#FFB935', '#AFFF2A', '#FFE239'
        ]);
      });
    </script>
    <title>{% block title %}MIXTAPE{% endblock %}</title>
    <style>
      [x-cloak] {
        display: none;
      }
    </style>
  </head>
  <body class="max-h-screen overflow-hidden">
    <div>
      {% include "core/toolbar.html" %}
    </div>
    <div>
      {% block content %}{% endblock %}
    </div>
  </body>
</html>
