<!-- Clustering -->
<div
  x-data="{
    data: [],
    layout: {
      ...basePlotLayout,
      title: {text: 'Agent {{title}}'},
      xaxis: {
        ...basePlotLayout.xaxis,
        showticklabels: false,
      },
      yaxis: {
        ...basePlotLayout.yaxis,
        showticklabels: false,
      },
    },
    plot: null,
  }"
  x-init="
    data = [];
    let eps = '';
    for (let agent_idx = 0; agent_idx < uniqueAgents.length; agent_idx++) {
      clustering[{{key}}].episode_manifolds.forEach((episode_manifold, episode_idx) => {
        if (episodeIds.length > 1) {
          eps = `Episode ${episodeIds[episode_idx]}`;
        }
        data.push({
          x: episode_manifold.map(row => row[agent_idx][0]),
          y: episode_manifold.map(row => row[agent_idx][1]),
          type: 'scatter',
          mode: 'lines',
          colorscale: 'Viridis',
          line: {
            opacity: 1,
            width: 2
          },
          name: `${eps}${uniqueAgents[agent_idx]}`
        });
      });
    }
    data.push({
      x: clustering[{{key}}].all_manifolds_x,
      y: clustering[{{key}}].all_manifolds_y,
      type: 'scatter',
      mode: 'markers',
      marker: {
        color: clustering[{{key}}].all_clusters,
        cmin: 0,
        cmax: 9,
        colorscale: 'Viridis',
        size: 20,
        opacity: Array(clustering[{{key}}].all_manifolds_x.length).fill(1)
      },
      name: 'All Episodes'
    })
    plot = Plotly.newPlot($refs.allManifolds, data, layout, basePlotConfig);
    $watch('$store.visOptions', () => {
      $nextTick(() => {
        Plotly.relayout(
          $refs.allManifolds,
          {
            autosize: true,
            showlegend: $store.visOptions.includes('plotLegends')
          })
      });
    });"
  x-effect="
    if (plot) {
      const numAgents = uniqueAgents.length;
      const numEpisodes = episodeIds.length;
      const startIdx = currentStep * numAgents;
      const endIdx = startIdx + numAgents;

      // Get the current plot data from the DOM element
      const plotElement = $refs.allManifolds;
      const currentData = plotElement.data;

      // Remove the highlight trace if it exists (it will be last, at numEpisodes * numAgents + 1)
      if (currentData && currentData.length > (numEpisodes * numAgents + 1)) {
        Plotly.deleteTraces($refs.allManifolds, [numEpisodes * numAgents + 1]);
      }

      // Create arrays for the highlighted points
      const highlightX = [];
      const highlightY = [];
      const highlightText = [];

      for (let agentIdx = 0; agentIdx < numAgents; agentIdx++) {
        for (let episodeIdx = 0; episodeIdx < numEpisodes; episodeIdx++) {
          const idx = agentIdx + episodeIdx * numAgents;
          const agentTrace = currentData[idx];
          if (currentStep < agentTrace.x.length && agentTrace && (!agentTrace.visible || agentTrace.visible === true)) {
            highlightX.push(agentTrace.x[currentStep]);
            highlightY.push(agentTrace.y[currentStep]);
            highlightText.push(`${uniqueAgents[agentIdx]} Episode ${episodeIds[episodeIdx]}`);
          }
        }
      }

      // Only add the highlight trace if there are visible points
      if (highlightX.length > 0) {
        // Add new trace for highlighted points
        const textPosition = ['top left', 'middle left', 'bottom left', 'top center', 'middle center', 'bottom center', 'top right', 'middle right', 'bottom right'];
        Plotly.addTraces($refs.allManifolds, [{
          x: highlightX,
          y: highlightY,
          text: highlightText,
          type: 'scatter',
          mode: 'markers+text',
          showlegend: false,
          textposition: textPosition,
          textfont: {
            size: 12,
            color: $store.theme.font.color
          },
          marker: {
            color: 'transparent',
            size: 20,
            line: {
              width: 2,
              color: 'red',
              dash: 'dot'
            }
          }
        }]);
      }
    }"
>
  <div x-ref="allManifolds"></div>
</div>

<!-- Clustering Timeline -->
<div
  x-data="{
    data: [],
    layout: {
      ...basePlotLayout,
      title: {text: 'Agent {{title}} Timeline'},
      height: 150,
      margin: {r: 0, t: 25},
    },
    plot: null,
  }"
  x-init="
    data = [
      {
        z: clustering[{{key}}].episode_clusters,
        type: 'heatmap',
        showscale: false,
        colorscale: 'Viridis',
      },
      {
        x: [[currentStep, currentStep]],
        y: [[0, clustering[{{key}}].episode_clusters.length - 1]],
        type: 'scatter',
        mode: 'lines',
        showlegend: false,
        line: {
          color: 'red',
          width: 2,
          dash: 'dot',
        },
      }
    ];
    plot = Plotly.newPlot($refs.allManifolds, data, layout, basePlotConfig);
    $watch('$store.visOptions', () => {
      $nextTick(() => {
        Plotly.relayout(
          $refs.allManifolds, {
            autosize: true,
            showlegend: $store.visOptions.includes('plotLegends')
          })
      });
    });"
  x-effect="
    if (plot) {
      // Use the heatmap data dimensions directly
      const yMin = 0;
      const yMax = clustering[{{key}}].episode_clusters.length - 1;
      Plotly.update($refs.allManifolds, {
        x: [[currentStep, currentStep]],
        y: [[yMin - 0.5, yMax + 0.5]],
      }, {}, [1]);
    }"
>
  <div x-ref="allManifolds"></div>
</div>
