{% extends "core/base.html" %}
{% load resonant_utils %}

{% block title %}MIXTAPE Home{% endblock %}

{% block content %}
<div class="text-center text-xl">Explore Results</div>
<div>
  <ol>
    {% for episode in episodes %}
    <li class="break-inside-avoid block p-4 m-2 bg-white border border-gray-200 rounded-lg shadow-sm">
      <div class="flex justify-between">
        <span>
          <span class="text-gray-900 font-bold mr-2">{{ episode.inference.checkpoint.training.environment }}</span>
          <span class="text-gray-500 italic">
            {{ episode.inference.created|date:"D d M Y" }}
            {{ episode.inference.created|time:"H:i" }}
          </span>
        </span>
        <a href="{% url 'insights' episode.pk %}" target="_blank" class="hover:bg-gray-100 rounded-lg">
          <i class="ri-external-link-line p-1"></i>
        </a>
      </div>
      <div class="ml-4 text-gray-700">
        <span>{{ episode.inference.checkpoint.training.algorithm }}</span>
        <span>{{ episode.inference.checkpoint.training.iterations }} Iterations</span>
        {% if episode.inference.checkpoint.training.parallel %}
          <span>Parallel</span>
        {% endif %}
      </div>
      <div x-data="{ open: false }" class="border border-gray-200 rounded-xl mt-3">
        <button @click="open = !open" class="flex items-center justify-between w-full p-3 text-gray-700 hover:bg-gray-100 gap-3">
          <span>Training Details</span>
          <i x-show="!open" class="ri-arrow-down-s-line"></i>
          <i x-show="open" class="ri-arrow-up-s-line"></i>
        </button>
        <div x-show="open" class="max-h-[300px] overflow-auto">
          <div class="flex justify-end">
            <a
              href="data:text/json;charset=utf-8,{{ episode.inference.checkpoint.training.config|pretty_json:2|safe|urlencode }}"
              download="training_{{ episode.inference.checkpoint.training.pk }}_config.json"
              class="text-gray-600 hover:bg-gray-100 py-1 px-2 rounded-lg border border-gray-200 bg-gray-50"
            >
              <i class="ri-download-line"></i>
            </a>
          </div>
          <pre class="text-gray-500">{{ episode.inference.checkpoint.training.config|pretty_json:2 }}</pre>
        </div>
      </div>
      <div x-show="Object.keys({{ episode.inference.config }}).length" x-data="{ open: false }" class="border border-gray-200 rounded-xl mt-3">
        <button @click="open = !open" class="flex items-center justify-between w-full p-3 text-gray-700 hover:bg-gray-100 gap-3">
          <span>Episode Details</span>
          <i x-show="!open" class="ri-arrow-down-s-line"></i>
          <i x-show="open" class="ri-arrow-up-s-line"></i>
        </button>
        <div x-show="open" class="max-h-[300px] overflow-auto">
          <div class="flex justify-end">
            <a
              href="data:text/json;charset=utf-8,{{ episode.inference.config|pretty_json:2|safe|urlencode }}"
              download="episode_{{ episode.pk }}_config.json"
              class="text-gray-600 hover:bg-gray-100 py-1 px-2 rounded-lg border border-gray-200 bg-gray-50"
            >
              <i class="ri-download-line"></i>
            </a>
          </div>
          <pre class="text-gray-500">{{ episode.inference.config|pretty_json:2 }}</pre>
        </div>
      </div>
    </li>
    {% endfor %}
  </ol>
</div>
{% endblock %}
