{% extends "core/base.html" %}
{% load resonant_utils %}

{% block title %}MIXTAPE Home{% endblock %}

{% block content %}
<h1 class="text-center">Explore Results</h1>
<div>
  <ol>
    {% for episode in episodes %}
    <li class="card raised m-2">
      <div class="flex justify-between">
        <a href="{% url 'insights' episode.pk %}" class="rounded-lg">
          <span>
            <span class="font-bold mx-2">{{ episode.inference.checkpoint.training.environment }}</span>
            <span class="italic">
              {{ episode.inference.created|date:"D d M Y" }}
              {{ episode.inference.created|time:"H:i" }}
            </span>
          </span>
        </a>
        <a href="{% url 'insights' episode.pk %}" target="_blank" class="rounded-lg">
          <i class="ri-external-link-line p-1"></i>
        </a>
      </div>
      <div class="ml-4">
        <span>{{ episode.inference.checkpoint.training.algorithm }}</span>
        <span>{{ episode.inference.checkpoint.training.iterations }} Iterations</span>
        {% if episode.inference.checkpoint.training.parallel %}
          <span>Parallel</span>
        {% endif %}
      </div>
      <div x-data="{ open: false }" class="card mt-2">
        <button @click="open = !open" class="flex items-center justify-between w-full p-3 gap-3">
          <span>Training Details</span>
          <i x-show="!open" class="ri-arrow-down-s-line"></i>
          <i x-show="open" class="ri-arrow-up-s-line"></i>
        </button>
        <div x-show="open" class="max-h-[300px] overflow-auto">
          <div class="flex justify-end">
            <a
              href="data:text/json;charset=utf-8,{{ episode.inference.checkpoint.training.config|pretty_json:2|safe|urlencode }}"
              download="training_{{ episode.inference.checkpoint.training.pk }}_config.json"
              class="py-1 px-2 rounded-lg"
            >
              <i class="ri-download-line"></i>
            </a>
          </div>
          <pre>{{ episode.inference.checkpoint.training.config|pretty_json:2 }}</pre>
        </div>
      </div>
      <div x-show="Object.keys({{ episode.inference.config }}).length" x-data="{ open: false }" class="card mt-2">
        <button @click="open = !open" class="flex items-center justify-between w-full p-3 gap-3">
          <span>Episode Details</span>
          <i x-show="!open" class="ri-arrow-down-s-line"></i>
          <i x-show="open" class="ri-arrow-up-s-line"></i>
        </button>
        <div x-show="open" class="max-h-[300px] overflow-auto">
          <div class="flex justify-end">
            <a
              href="data:text/json;charset=utf-8,{{ episode.inference.config|pretty_json:2|safe|urlencode }}"
              download="episode_{{ episode.pk }}_config.json"
              class="py-1 px-2 rounded-lg"
            >
              <i class="ri-download-line"></i>
            </a>
          </div>
          <pre>{{ episode.inference.config|pretty_json:2 }}</pre>
        </div>
      </div>
    </li>
    {% endfor %}
  </ol>
</div>
{% endblock %}
