{% extends "core/base.html" %}

{% block title %}Inference Results{% endblock %}

{% block content %}
<div>
  <h1 class="text-center text-2xl font-bold">Episode #{{ episode.pk }}</h1>
  <div id="step" class="h-[90vh]"></div>
  <div>
    <input
      type="range"
      min="0"
      max="{{ episode.step_count|add:'-1' }}"
      value="0"
      class="w-full"
      hx-trigger="load,input"
      hx-get="{% url 'insights-step' episode.pk %}"
      name="step_number"
      hx-target="#step"
    >
  </div>
</div>
{% endblock %}
