{% extends "core/base.html" %}

{% block title %}Inference Results{% endblock %}

{% block content %}

{{ plot_data|json_script:"plot_data_json" }}
{{ step_data|json_script:"step_data_json" }}

<div x-data="{
  plotData: JSON.parse(document.getElementById('plot_data_json').textContent),
  stepData: JSON.parse(document.getElementById('step_data_json').textContent),
  currentStep: 0,
  playing: false,
  maxSteps: {{ steps|length|add:'-1' }},
  showVisMenu: false,
  visOptions: ['actionRewardFrequency', 'rewardFrequency', 'actionFrequency', 'rewardsOverTime', 'episodeDetails', 'placeholder', 'plotLegends'],
  stepForward() {
    if (!this.playing) return;
    if (this.currentStep < this.maxSteps) {
      setTimeout(() => {
        this.currentStep++;
        this.stepForward()
      }, 100);
    } else {
      this.playing = false;
      this.currentStep = 0;
    }
  }
}"
class="flex flex-col"
>
  {% include "core/nav_bar.html" %}
  <div class="flex h-fit">
    <div
      class="flex-1 min-w-[100%] md:min-w-[50%] xl:min-w-[25%] h-fit"
      x-show="visOptions.includes('actionRewardFrequency')"
    >
      {% include "core/action_v_reward_frequency.html" with plot_data=plot_data %}
    </div>
    <div
      class="flex-1 min-w-[100%] md:min-w-[50%] xl:min-w-[25%] h-fit"
      x-show="visOptions.includes('rewardFrequency')"
    >
      {% include "core/reward_v_frequency.html" with plot_data=plot_data %}
    </div>
    <div
      class="flex-1 min-w-[100%] md:min-w-[50%] xl:min-w-[25%] h-fit"
      x-show="visOptions.includes('actionFrequency')"
    >
      {% include "core/action_v_frequency.html" with plot_data=plot_data %}
    </div>
    <div
      class="flex-1 min-w-[100%] md:min-w-[50%] xl:min-w-[25%] h-fit"
      x-show="visOptions.includes('rewardsOverTime')"
    >
      {% include "core/rewards_over_time.html" with plot_data=plot_data %}
    </div>
  </div>
  <div class="flex h-[50vh] overflow-hidden">
    <div x-show="visOptions.includes('episodeDetails')" class="flex-1 min-w-[100%] xl:min-w-[50%] flex flex-col">
      <div id="foo" class="card raised flex flex-col h-full overflow-hidden">
        <h1 class="text-xl font-bold text-center flex-none">Step <span x-text="currentStep"></span> of <span x-text="maxSteps"></span></h1>
        <div id="bar" class="grid grid-cols-12 flex-1 min-h-0 overflow-auto">
          <div class="col-span-9 flex flex-col p-2 min-h-0">
            <div class="flex-1 min-h-0 flex items-center justify-center">
              <img x-show="stepData[currentStep].image_url" class="max-h-full max-w-full object-contain" :src="stepData[currentStep].image_url" alt="Step Image">
            </div>
            {% include "core/replay_controls.html" %}
          </div>
          {% include "core/replay_details.html" %}
        </div>
      </div>
      {% include "core/timeline.html" %}
    </div>
    <div x-show="visOptions.includes('placeholder')" class="flex-1 min-w-[100%] xl:min-w-[50%] m-1 content-center">
      <div class="col-span-12 content-center">
        {% include "core/observation_clustering.html" %}
      </div>
      <div class="col-span-12 content-center mr-4">
        {% include "core/observation_clustering_timeline.html" %}
      </div>
    </div>
  </div>
</div>
{% endblock %}
