{% extends "core/base.html" %}

{% block title %}Inference Results{% endblock %}

{% block content %}

{{ parsed_data|json_script:"parsed_data_json" }}
{{ clustering|json_script:"clustering_json" }}

<div x-data="(() => {
  const data = JSON.parse(document.getElementById('parsed_data_json').textContent);
  const clustering = JSON.parse(document.getElementById('clustering_json').textContent);
  const {
    step_data,
    action_v_reward,
    reward_histogram,
    action_v_frequency,
    rewards_over_time,
    decomposed_rewards,
    unique_agents,
    episode_ids,
    max_steps,
    timeline_key_steps,
    predicted_rewards,
    total_rewards,
  } = data;

  const basePlotStyling = (() => {
    return {
      paper_bgcolor: $store.theme.paper_bgcolor,
      plot_bgcolor: $store.theme.plot_bgcolor,
      font: $store.theme.font,
      xaxis: {
        gridcolor: $store.theme.axis.gridcolor,
        zerolinecolor: $store.theme.axis.zerolinecolor
      },
      yaxis: {
        gridcolor: $store.theme.axis.gridcolor,
        zerolinecolor: $store.theme.axis.zerolinecolor
      },
    }
  });

  const legendLayout = () => {
    return {
      orientation: $store.visOptions.legendPosition === 'vertical' ? 'v' : 'h',
      x: $store.visOptions.legendPosition === 'vertical' ? 1 : 0,
      y: ($store.visOptions.legendPosition === 'horizontal' && $store.visOptions.legendOverlap === 'outside') ? -0.1 : 1,
      xanchor: ($store.visOptions.legendOverlap === 'inside' && $store.visOptions.legendPosition === 'vertical') ? 'right' : 'left',
    };
  };

  const basePlotLayout = {
    autosize: true,
    height: 'auto',
    showlegend: $store.visOptions.visible.includes('plotLegends'),
    legend: legendLayout(),
    margin: {l: 40, r: 40, t: 40, b: 40},
    ...basePlotStyling(),
  };

  const basePlotConfig = {
    displayModeBar: false,
    responsive: true
  };

  return {
    parsedData: data,
    clustering: clustering,
    actionVReward: action_v_reward,
    rewardHistogram: reward_histogram,
    actionVFrequency: action_v_frequency,
    rewardsOverTime: rewards_over_time,
    decomposedRewards: decomposed_rewards,
    uniqueAgents: unique_agents,
    episodeIds: episode_ids,
    stepData: step_data,
    timelineKeySteps: timeline_key_steps,
    currentStep: 0,
    playing: false,
    maxSteps: max_steps - 1,
    predictedRewards: predicted_rewards,
    totalRewards: total_rewards,
    showVisMenu: false,
    showReplayDetails: true,
    basePlotStyling: basePlotStyling,
    basePlotLayout: basePlotLayout,
    basePlotConfig: basePlotConfig,
    legendLayout: legendLayout,
    getStep(step) {
      if (this.currentStep < Object.keys(step).length) {
        return step[Math.max(0, this.currentStep - 1)];
      }
      return step[Object.keys(step).length - 1];
    },
    fps: 10,  // frames per second
    lastFrameTime: 0,

    stepForward() {
      this.playing = true;
      this.lastFrameTime = performance.now();
      requestAnimationFrame(this.animationLoop.bind(this));
    },

    animationLoop(timestamp) {
      if (!this.playing) return;

      const elapsed = timestamp - this.lastFrameTime;
      if (elapsed > (1000 / this.fps)) {
        this.lastFrameTime = timestamp;
        if (this.currentStep < this.maxSteps) {
          this.currentStep++;
        } else {
          this.playing = false;
          this.currentStep = 0;
          return;
        }
      }

      requestAnimationFrame(this.animationLoop.bind(this));
    },
  };
})()"
class="flex"
style="height: calc(100vh - 4rem);"
>
  <!-- Main container with dynamic layout based on denseLayout toggle -->
  <div
    class="flex w-full h-full"
    :class="$store.theme.denseLayout ? 'flex-row' : 'flex-row'"
  >
    <!-- Column A (Episode details) -->
    <div
      id="episode-details-container"
      class="flex flex-col overflow-y-auto overflow-x-hidden transition-all duration-300"
      :class="$store.theme.denseLayout ? 'w-1/3' : 'w-1/2'"
    >
      <div x-show="$store.visOptions.visible.includes('playbackControls')" class="max-w-full pa-1 rounded-md mx-1 my-2 sticky top-0 z-1 bg-base-300">
        {% include "core/replay_controls.html" %}
      </div>
      <template x-for="(step, index) in stepData">
        <div class="episode-container w-full mb-2">
          <div class="card raised flex flex-col w-full min-h-fit">
            <h1 class="text-xl font-bold text-center flex-none mb-4">Step <span x-text="currentStep"></span> of <span x-text="maxSteps"></span></h1>
            <div class="flex p-2 min-h-0 col-span-12">
              <div
                x-show="$store.visOptions.visible.includes('episodeImages')"
                class="flex-1 min-h-0 flex items-center justify-center relative"
              >
                <img x-show="getStep(step).image_url" class="m-auto h-full" :src="getStep(step).image_url" alt="Step Image">
                <div class="absolute bottom-0 left-0 right-0 text-center">
                  Episode <span x-text="episodeIds[index]"></span>: Step <span x-text="currentStep < Object.keys(step).length ? currentStep : Object.keys(step).length - 1"></span>
                </div>
              </div>
            </div>
          </div>
          <div x-show="$store.visOptions.visible.includes('timelines')" class="max-w-full my-2">
            {% include "core/timeline.html" %}
          </div>
          <div x-show="$store.visOptions.visible.includes('episodeDetails')" class="w-full mt-2 mr-1">
            <div class="flex items-center justify-between bg-info text-info-content px-4 py-2 rounded-t-md">
              <h3 class="text-sm font-semibold">Agent Details</h3>
              <button
                @click="showReplayDetails = !showReplayDetails"
              >
                <i x-show="!showReplayDetails" class="ri-arrow-down-s-line"></i>
                <i x-show="showReplayDetails" class="ri-arrow-up-s-line"></i>
              </button>
            </div>
            <div x-show="showReplayDetails" class="bg-transparent border border-info rounded-b-md border-base-100" x-transition:enter="transition ease-out duration-200" x-transition:enter-start="opacity-0 transform scale-95" x-transition:enter-end="opacity-100 transform scale-100" x-transition:leave="transition ease-in duration-150" x-transition:leave-start="opacity-100 transform scale-100" x-transition:leave-end="opacity-0 transform scale-95">
              {% include "core/replay_details.html" %}
            </div>
          </div>
        </div>
      </template>
    </div>

    <!-- Plots container - Right side in normal layout, split into columns B and C in dense layout -->
    <div
      id="plots-container"
      class="flex flex-col overflow-y-auto overflow-x-hidden transition-all duration-300"
      :class="$store.theme.denseLayout ? 'w-2/3 flex-row' : 'w-1/2'"
    >
      <!-- When in normal layout, this is a single column -->
      <div
        id="plots-normal-layout"
        class="flex flex-wrap w-full"
        x-show="!$store.theme.denseLayout"
      >
        <div
          id="health-container-B"
          x-show="$store.visOptions.visible.includes('friendlyHealth')"
          class="flex-1 flex-grow min-w-[500px] max-w-full p-1 h-fit"
        >
          {% include "core/friendly_health_over_time.html" %}
        </div>
        <div
          id="health-container-C"
          x-show="$store.visOptions.visible.includes('enemyHealth')"
          class="flex-1 flex-grow min-w-[500px] max-w-full p-1 h-fit"
        >
          {% include "core/enemy_health_over_time.html" %}
        </div>
        <div
          id="decomp-container-B"
          x-show="$store.visOptions.visible.includes('navigation')"
          class="flex-1 flex-grow min-w-[500px] max-w-full p-1 h-fit"
        >
          {% include "core/navigation_reward_over_time.html" %}
        </div>
        <div
          id="decomp-container-C"
          class="flex-1 flex-grow min-w-[500px] max-w-full p-1 h-fit"
          x-show="$store.visOptions.visible.includes('combatReward')"
        >
          {% include "core/combat_reward_over_time.html" %}
        </div>
        <div
          id="reward-container-B"
          x-show="$store.visOptions.visible.includes('predictedRewards')"
          class="flex-1 flex-grow min-w-[500px] max-w-full p-1 h-fit"
        >
          {% include "core/predicted_vs_actual_rewards.html" %}
        </div>
        <div
          id="reward-container-C"
          x-show="$store.visOptions.visible.includes('valueEstimate')"
          class="flex-1 flex-grow min-w-[500px] max-w-full p-1 h-fit"
        >
          {% include "core/env_reward_value_estimate.html" %}
        </div>
        <div
          id="units-container-B"
          x-show="$store.visOptions.visible.includes('unitsOverTime')"
          class="flex-1 flex-grow min-w-[500px] max-w-full p-1 h-fit"
        >
          {% include "core/units_over_time.html" %}
        </div>
        <div
          id="units-container-C"
          x-show="$store.visOptions.visible.includes('perUnitActions')"
          class="flex-1 flex-grow min-w-[500px] max-w-full p-1 h-fit"
        >
          {% include "core/per_unit_actions_over_time.html" %}
        </div>
        <div
          id="rewards-container-B"
          x-show="$store.visOptions.visible.includes('rewardsOverTime')"
          class="flex-1 flex-grow min-w-[500px] max-w-full p-1 h-fit"
        >
          {% include "core/rewards_over_time.html" %}
        </div>
        <div
          id="rewards-container-C"
          x-show="$store.visOptions.visible.includes('decomposedRewards')"
          class="flex-1 flex-grow min-w-[500px] max-w-full p-1 h-fit">
          {% include "core/rewards_over_time_decomp.html" %}
        </div>
        <div
          id="clustering-container-B"
          x-show="$store.visOptions.visible.includes('obsClustering')"
          class="flex-1 flex-grow min-w-[500px] max-w-full p-1 h-fit"
        >
          <div class="content-center">
            {% include "core/clustering.html" with key="'obs'" title="Observations" %}
          </div>
        </div>
        <div
          id="clustering-container-C"
          x-show="$store.visOptions.visible.includes('actionClustering')"
          class="flex-1 flex-grow min-w-[500px] max-w-full p-1 h-fit"
        >
          <div class="content-center">
            {% include "core/clustering.html" with key="'agent_outs'" title="Actions" %}
          </div>
        </div>
      </div>

      <!-- When in dense layout, split into columns B and C -->
      <div
        id="plots-dense-layout"
        class="flex w-full h-full"
        x-show="$store.theme.denseLayout"
      >
        <!-- Column B (Middle) -->
        <div class="w-1/2 flex flex-col overflow-y-auto overflow-x-hidden">
          <div
            id="health-container-B"
            x-show="$store.visOptions.visible.includes('friendlyHealth')"
            class="w-full p-1 h-fit"
          >
            {% include "core/friendly_health_over_time.html" %}
          </div>
          <div
            id="decomp-container-B"
            x-show="$store.visOptions.visible.includes('navigation')"
            class="w-full p-1 h-fit"
          >
            {% include "core/navigation_reward_over_time.html" %}
          </div>
          <div
            id="reward-container-B"
            x-show="$store.visOptions.visible.includes('predictedRewards')"
            class="w-full p-1 h-fit"
          >
            {% include "core/predicted_vs_actual_rewards.html" %}
          </div>
          <div
            id="units-container-B"
            x-show="$store.visOptions.visible.includes('unitsOverTime')"
            class="w-full p-1 h-fit"
          >
            {% include "core/units_over_time.html" %}
          </div>
          <div
            id="rewards-container-B"
            x-show="$store.visOptions.visible.includes('rewardsOverTime')"
            class="w-full p-1 h-fit"
          >
            {% include "core/rewards_over_time.html" %}
          </div>
          <div
            id="clustering-container-B"
            x-show="$store.visOptions.visible.includes('obsClustering')"
            class="w-full p-1 h-fit"
          >
            <div class="content-center">
              {% include "core/clustering.html" with key="'obs'" title="Observations" %}
            </div>
          </div>
        </div>

        <!-- Column C (Left) -->
        <div class="w-1/2 flex flex-col overflow-y-auto overflow-x-hidden">
          <div
            id="health-container-C"
            x-show="$store.visOptions.visible.includes('enemyHealth')"
            class="w-full p-1 h-fit"
          >
            {% include "core/enemy_health_over_time.html" %}
          </div>
          <div
            id="decomp-container-C"
            class="w-full p-1 h-fit"
            x-show="$store.visOptions.visible.includes('combatReward')"
          >
            {% include "core/combat_reward_over_time.html" %}
          </div>
          <div
            id="reward-container-C"
            x-show="$store.visOptions.visible.includes('valueEstimate')"
            class="w-full p-1 h-fit"
          >
            {% include "core/env_reward_value_estimate.html" %}
          </div>
          <div
            id="units-container-C"
            x-show="$store.visOptions.visible.includes('perUnitActions')"
            class="w-full p-1 h-fit"
          >
            {% include "core/per_unit_actions_over_time.html" %}
          </div>
          <div
            id="rewards-container-C"
            x-show="$store.visOptions.visible.includes('decomposedRewards')"
            class="w-full p-1 h-fit">
            {% include "core/rewards_over_time_decomp.html" %}
          </div>
          <div
            id="clustering-container-C"
            x-show="$store.visOptions.visible.includes('actionClustering')"
            class="w-full p-1 h-fit"
          >
            <div class="content-center">
              {% include "core/clustering.html" with key="'agent_outs'" title="Actions" %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
