<div class="flex w-full border-b border-gray-400 p-2 justify-between items-center h-[5vh]">
  <a href="{% url 'home' %}" class="text-2xl font-bold">
    MIXTAPE
  </a>
  <h1 class="text-2xl">Episode #{{ episode.pk }}</h1>
  <button
    class="text-white bg-blue-500 rounded-lg px-5 py-2.5 text-center inline-flex items-center"
    @click="showVisMenu = !showVisMenu"
  >
    Visualizations
    <i x-show="!showVisMenu" class="ri-arrow-down-s-line"></i>
    <i x-show="showVisMenu" class="ri-arrow-up-s-line"></i>
  </button>
  <!-- Dropdown menu -->
  <div
    class="absolute right-0 top-12 mt-2 z-10 w-auto bg-white divide-y divide-gray-100 rounded-lg shadow-sm"
    x-show="showVisMenu"
    @click.away="showVisMenu = false"
  >
    <ul class="p-3 space-y-3 text-sm text-gray-700">
      <li>
        <div class="flex items-center">
          <input
            type="checkbox"
            id="actionRewardFrequency"
            class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded-sm"
            x-model="visOptions"
            value="actionRewardFrequency"
          >
          <label for="actionRewardFrequency" class="ms-2 text-sm text-gray-900">
            Action VS Reward Frequency
          </label>
        </div>
      </li>
      <li>
        <div class="flex items-center">
          <input
            type="checkbox"
            id="rewardFrequency"
            class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded-sm"
            x-model="visOptions"
            value="rewardFrequency"
          >
          <label for="rewardFrequency" class="ms-2 text-sm text-gray-900">
            Reward VS Frequency
          </label>
        </div>
      </li>
      <li>
        <div class="flex items-center">
          <input
            type="checkbox"
            id="actionFrequency"
            class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded-sm"
            x-model="visOptions"
            value="actionFrequency"
          >
          <label for="actionFrequency" class="ms-2 text-sm text-gray-900">
            Action VS Frequency
          </label>
        </div>
      </li>
      <li>
        <div class="flex items-center">
          <input
            type="checkbox"
            id="rewardsOverTime"
            class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded-sm"
            x-model="visOptions"
            value="rewardsOverTime"
          >
          <label for="rewardsOverTime" class="ms-2 text-sm text-gray-900">
            Rewards Over Time
          </label>
        </div>
      </li>
      <li>
        <div class="flex items-center">
          <input
            type="checkbox"
            id="episodeDetails"
            class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded-sm"
            x-model="visOptions"
            value="episodeDetails"
          >
          <label for="episodeDetails" class="ms-2 text-sm text-gray-900">
            Episode Details
          </label>
        </div>
      </li>
      <li>
        <div class="flex items-center">
          <input
            type="checkbox"
            id="placeholder"
            class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded-sm"
            x-model="visOptions"
            value="placeholder"
          >
          <label for="placeholder" class="ms-2 text-sm text-gray-900">
            Placeholder
          </label>
        </div>
      </li>
    </ul>
  </div>
</div>
