<div class="flex w-full border-b border-gray-400 p-2 justify-between items-center z-10 bg-[#668F80] shadow-[0_1px_3px_1px_rgba(0,0,0,0.25)]">
  <div></div>
  <h1 class="text-xl font-bold">Episode #{{ episode.pk }}</h1>
  <div class="flex items-center">
    <a href="{% url 'home' %}" class="text-2xl">
      <i class="ri-home-2-line"></i>
    </a>
    <button
      class="text-center text-2xl rounded-lg px-2 py-1.5 inline-flex items-center"
      @click="showVisMenu = !showVisMenu"
    >
      <i class="ri-settings-5-line"></i>
    </button>
    <!-- Dropdown menu -->
    <div
      class="absolute right-0 top-12 mt-2 z-10 w-auto bg-white divide-y divide-gray-100 rounded-lg shadow-sm"
      x-show="showVisMenu"
      @click.away="showVisMenu = false"
    >
      <ul class="p-3 space-y-3 text-sm text-gray-700">
        <li>
          <div class="flex items-center">
            <input
              type="checkbox"
              id="actionRewardFrequency"
              class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded-sm"
              x-model="visOptions"
              value="actionRewardFrequency"
            >
            <label for="actionRewardFrequency" class="ms-2 text-sm text-gray-900">
              Action VS Reward Frequency
            </label>
          </div>
        </li>
        <li>
          <div class="flex items-center">
            <input
              type="checkbox"
              id="rewardFrequency"
              class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded-sm"
              x-model="visOptions"
              value="rewardFrequency"
            >
            <label for="rewardFrequency" class="ms-2 text-sm text-gray-900">
              Reward VS Frequency
            </label>
          </div>
        </li>
        <li>
          <div class="flex items-center">
            <input
              type="checkbox"
              id="actionFrequency"
              class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded-sm"
              x-model="visOptions"
              value="actionFrequency"
            >
            <label for="actionFrequency" class="ms-2 text-sm text-gray-900">
              Action VS Frequency
            </label>
          </div>
        </li>
        <li>
          <div class="flex items-center">
            <input
              type="checkbox"
              id="rewardsOverTime"
              class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded-sm"
              x-model="visOptions"
              value="rewardsOverTime"
            >
            <label for="rewardsOverTime" class="ms-2 text-sm text-gray-900">
              Rewards Over Time
            </label>
          </div>
        </li>
        <li>
          <div class="flex items-center">
            <input
              type="checkbox"
              id="episodeDetails"
              class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded-sm"
              x-model="visOptions"
              value="episodeDetails"
            >
            <label for="episodeDetails" class="ms-2 text-sm text-gray-900">
              Episode Details
            </label>
          </div>
        </li>
        <li>
          <div class="flex items-center">
            <input
              type="checkbox"
              id="placeholder"
              class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded-sm"
              x-model="visOptions"
              value="placeholder"
            >
            <label for="placeholder" class="ms-2 text-sm text-gray-900">
              Placeholder
            </label>
          </div>
        </li>
        <hr/>
        <li>
          <div class="flex items-center">
            <input
              type="checkbox"
              id="plotLegends"
              class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded-sm"
              x-model="visOptions"
              value="plotLegends"
            >
            <label for="placeholder" class="ms-2 text-sm text-gray-900">
              Show Legends
            </label>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
