<div
  x-data="{
    data: [],
    layout: {
      title: {text: 'Rewards Over Time'},
      xaxis: {title: {text: 'Time Step'}},
      yaxis: {title: {text: 'Cumulative Reward'}},
      autosize: true,
      showlegend: visOptions.includes('plotLegends'),
      paper_bgcolor: $store.theme.darkMode ? '#111827' : '#F1F2F6',
      plot_bgcolor: $store.theme.darkMode ? '#111827' : '#F1F2F6',
      font: {
        color: $store.theme.darkMode ? '#D1D5DB' : '#000000'
      },
      annotations: [
        {
          x: currentStep,
          y: plotData.rewards_over_time[currentStep],
          text: plotData.rewards_over_time[currentStep].toFixed(2),
        }
      ],
      xaxis: {
        gridcolor: $store.theme.darkMode ? '#4a5565' : '#d1d5dc',
        zerolinecolor: $store.theme.darkMode ? '#F1F2F6' : '#111827'
      },
      yaxis: {
        gridcolor: $store.theme.darkMode ? '#4a5565' : '#d1d5dc',
        zerolinecolor: $store.theme.darkMode ? '#F1F2F6' : '#111827'
      },
    },
    config: {
      displayModeBar: false,
      responsive: true
    },
    plot: null,
  }"
  x-init="
    data = [
      {
        x: plotData.rewards_over_time.length,
        y: plotData.rewards_over_time,
        type: 'scatter',
        name: 'Episode'
      },
      {
        x: [{{ currentStep }}, {{ currentStep }}],
        y: [0, Math.max(...plotData.rewards_over_time)],
        type: 'scatter',
        mode: 'lines',
        line: {
          color: 'red',
          width: 2,
          dash: 'dash'
        },
        name: 'Current Step'
      },
    ];
    plot = Plotly.react($refs.rewardsOverTime, data, layout, config);
    $watch('visOptions', () => {
      $nextTick(() => {
        Plotly.relayout(
          $refs.rewardsOverTime,
          {
            autosize: true,
            showlegend: visOptions.includes('plotLegends')
          })
      });
    });"
  x-effect="
    if (plot) {
      Plotly.update($refs.rewardsOverTime, {
        x: [[currentStep, currentStep]],
        y: [[Math.min(...plotData.rewards_over_time), Math.max(...plotData.rewards_over_time)]]
      }, {
        annotations: [
          {
            x: currentStep,
            y: plotData.rewards_over_time[currentStep],
            text: plotData.rewards_over_time[currentStep].toFixed(2),
          }
        ],
      }, [1]);
    }"
>
  <div x-ref="rewardsOverTime"></div>
</div>
