<div x-data="{
  data: [],
  layout: {
    title: {text: 'Rewards VS Frequency'},
    xaxis: {title: {text: 'Reward'}},
    yaxis: {title: {text: 'Frequency'}},
    autosize: true,
    showlegend: visOptions.includes('plotLegends'),
    paper_bgcolor: $store.theme.darkMode ? '#111827' : '#F1F2F6',
    plot_bgcolor: $store.theme.darkMode ? '#111827' : '#F1F2F6',
    font: {
      color: $store.theme.darkMode ? '#D1D5DB' : '#000000'
    },
    xaxis: {
      gridcolor: $store.theme.darkMode ? '#4a5565' : '#d1d5dc',
      zerolinecolor: $store.theme.darkMode ? '#F1F2F6' : '#111827'
    },
    yaxis: {
      gridcolor: $store.theme.darkMode ? '#4a5565' : '#d1d5dc',
      zerolinecolor: $store.theme.darkMode ? '#F1F2F6' : '#111827'
    },
  },
  config: {
    displayModeBar: false,
    responsive: true
  },
  plot: null,
}"
x-init="
  data = [{x: plotData.reward_histogram, type: 'histogram', name: 'Episode'}];
  plot = Plotly.react($refs.rewardsFrequency, data, layout, config);
  $watch('visOptions', () => {
    $nextTick(() => {
      Plotly.relayout(
        $refs.rewardsFrequency,
        {
          autosize: true,
          showlegend: visOptions.includes('plotLegends')
        })
    });
  });"
>
  <div x-ref="rewardsFrequency"></div>
</div>
