<div
  x-data="{
    data: [],
    layout: {
      title: {text: 'Rewards Over Time'},
      xaxis: {title: {text: 'Time Step'}},
      yaxis: {title: {text: 'Cumulative Reward'}},
      autosize: true,
      showlegend: visOptions.includes('plotLegends'),
      paper_bgcolor: $store.theme.paper_bgcolor,
      plot_bgcolor: $store.theme.plot_bgcolor,
      font: $store.theme.font,
      annotations: [
        {
          x: currentStep,
          y: rewardsOverTime[0][currentStep],
          text: rewardsOverTime[0][currentStep].toFixed(2),
        }
      ],
      xaxis: {
        gridcolor: $store.theme.axis.gridcolor,
        zerolinecolor: $store.theme.axis.zerolinecolor
      },
      yaxis: {
        gridcolor: $store.theme.axis.gridcolor,
        zerolinecolor: $store.theme.axis.zerolinecolor
      },
    },
    config: {
      displayModeBar: false,
      responsive: true
    },
    plot: null,
  }"
  x-init="
    data = [
      {
        x: rewardsOverTime[0].length,
        y: rewardsOverTime[0],
        type: 'scatter',
        name: 'Episode'
      },
      {
        x: [{{ currentStep }}, {{ currentStep }}],
        y: [0, Math.max(...rewardsOverTime[0])],
        type: 'scatter',
        mode: 'lines',
        line: {
          color: 'red',
          width: 2,
          dash: 'dash'
        },
        name: 'Current Step'
      },
    ];
    plot = Plotly.react($refs.rewardsOverTime, data, layout, config);
    $watch('visOptions', () => {
      $nextTick(() => {
        Plotly.relayout(
          $refs.rewardsOverTime,
          {
            autosize: true,
            showlegend: visOptions.includes('plotLegends')
          })
      });
    });"
  x-effect="
  if (plot) {
    Plotly.update($refs.rewardsOverTime, {
      x: [[currentStep, currentStep]],
      y: [[Math.min(...rewardsOverTime[0]), Math.max(...rewardsOverTime[0])]]
    }, {
      annotations: [
        {
          x: currentStep,
          y: rewardsOverTime[0][currentStep],
          text: rewardsOverTime[0][currentStep].toFixed(2),
        }
      ],
    }, [1]);
  }"
>
  <div x-ref="rewardsOverTime"></div>
</div>
