<div class="navbar bg-base-100 shadow-md">
  <div class="navbar-start">
    <a href="{% url 'home' %}" class="btn btn-icon btn-ghost">
      <span class="text-3xl">MIXTAPE</span>
    </a>
  </div>
  {% if request.path == '/' %}
  <div class="navbar-center">
    <i class="ri-home-2-line mr-2 text-xl"></i>
    Explore Episodes
  </div>
  {% else %}
  <div class="navbar-center">
    Episode Insights
    <i class="ri-bar-chart-line ml-2 text-xl"></i>
  </div>
  {% endif %}
  <div class="navbar-end">
    <div class="dropdown dropdown-end">
      <button class="btn btn-ghost rounded-field">
        <i class="ri-bar-chart-box-ai-line font-normal text-xl"></i>
      </button>
      <ul
        class="menu dropdown-content bg-base-200 rounded-box z-1 mt-4 p-2 shadow-sm"
        style="width: max-content;"
      >
        <li>
          <div class="flex items-center">
            <label class="ms-2 text-sm">
              <input
                type="checkbox"
                class="checkbox mr-2"
                x-model="$store.visOptions.visible"
                value="actionClustering"
              />
              Action Clustering
            </label>
          </div>
        </li>
        <li>
          <div class="flex items-center">
            <label class="ms-2 text-sm">
              <input
                type="checkbox"
                class="checkbox mr-2"
                x-model="$store.visOptions.visible"
                value="combatReward"
              />
              Combat Reward
            </label>
          </div>
        </li>
        <li>
          <div class="flex items-center">
            <label class="ms-2 text-sm">
              <input
                type="checkbox"
                class="checkbox mr-2"
                x-model="$store.visOptions.visible"
                value="decomposedRewards"
              />
              Decomposed Rewards
            </label>
          </div>
        </li>
        <li>
          <div class="flex items-center">
            <label class="ms-2 text-sm">
              <input
                type="checkbox"
                class="checkbox mr-2"
                x-model="$store.visOptions.visible"
                value="enemyHealth"
              />
              Enemy Health
            </label>
          </div>
        </li>
        <li>
          <div class="flex items-center">
            <label class="ms-2 text-sm">
              <input
                type="checkbox"
                class="checkbox mr-2"
                x-model="$store.visOptions.visible"
                value="episodeDetails"
              />
              Episode Details
            </label>
          </div>
        </li>
        <li>
          <div class="flex items-center">
            <label class="ms-2 text-sm">
              <input
                type="checkbox"
                class="checkbox mr-2"
                x-model="$store.visOptions.visible"
                value="episodeImages"
              />
              Episode Images
            </label>
          </div>
        </li>
        <li>
          <div class="flex items-center">
            <label class="ms-2 text-sm">
              <input
                type="checkbox"
                class="checkbox mr-2"
                x-model="$store.visOptions.visible"
                value="friendlyHealth"
              />
              Friendly Health
            </label>
          </div>
        </li>
        <li>
          <div class="flex items-center">
            <label class="ms-2 text-sm">
              <input
                type="checkbox"
                class="checkbox mr-2"
                x-model="$store.visOptions.visible"
                value="navigation"
              />
              Navigation Rewards
            </label>
          </div>
        </li>
        <li>
          <div class="flex items-center">
            <label class="ms-2 text-sm">
              <input
                type="checkbox"
                class="checkbox mr-2"
                x-model="$store.visOptions.visible"
                value="obsClustering"
              />
              Observation Clustering
            </label>
          </div>
        </li>
        <li>
          <div class="flex items-center">
            <label class="ms-2 text-sm">
              <input
                type="checkbox"
                class="checkbox mr-2"
                x-model="$store.visOptions.visible"
                value="perUnitActions"
              />
              Per Unit Actions
            </label>
          </div>
        </li>
        <li>
          <div class="flex items-center">
            <label class="ms-2 text-sm">
              <input
                type="checkbox"
                class="checkbox mr-2"
                x-model="$store.visOptions.visible"
                value="playbackControls"
              />
              Playback Controls
            </label>
          </div>
        </li>
        <li>
          <div class="flex items-center">
            <label class="ms-2 text-sm">
              <input
                type="checkbox"
                class="checkbox mr-2"
                x-model="$store.visOptions.visible"
                value="predictedRewards"
              />
              Predicted Rewards
            </label>
          </div>
        </li>
        <li>
          <div class="flex items-center">
            <label class="ms-2 text-sm">
              <input
                type="checkbox"
                class="checkbox mr-2"
                x-model="$store.visOptions.visible"
                value="rewardsOverTime"
              />
              Rewards Over Time
            </label>
          </div>
        </li>
        <li>
          <div class="flex items-center">
            <label class="ms-2 text-sm">
              <input
                type="checkbox"
                class="checkbox mr-2"
                x-model="$store.visOptions.visible"
                value="timelines"
              />
              Timelines
            </label>
          </div>
        </li>
        <li>
          <div class="flex items-center">
            <label class="ms-2 text-sm">
              <input
                type="checkbox"
                class="checkbox mr-2"
                x-model="$store.visOptions.visible"
                value="valueEstimate"
              />
              Value Estimate
            </label>
          </div>
        </li>
        <li>
          <div class="flex items-center">
            <label class="ms-2 text-sm">
              <input
                type="checkbox"
                class="checkbox mr-2"
                x-model="$store.visOptions.visible"
                value="unitsOverTime"
              />
              Units Over Time
            </label>
          </div>
        </li>
      </ul>
    </div>
    <div class="dropdown dropdown-end">
      <button class="btn btn-ghost rounded-field">
        <i class="ri-list-settings-line font-normal text-xl"></i>
      </button>
      <ul
          class="menu dropdown-content bg-base-200 rounded-box z-1 mt-4 p-2 shadow-sm"
          style="width: max-content;"
        >
        <li>
          <div class="flex items-center">
            <label class="ms-2 text-sm">
              <input
                type="checkbox"
                class="checkbox mr-2"
                x-model="$store.visOptions.visible"
                value="plotLegends"
              />
              Show Legends
            </label>
          </div>
        </li>
        <li>
          <div class="flex items-center">
            <label class="ms-2 text-sm">
              <input
                type="radio"
                class="radio mr-2"
                x-model="$store.visOptions.legendPosition"
                value="horizontal"
                :disabled="!$store.visOptions.visible.includes('plotLegends')"
              />
              Horizontal Legend
            </label>
          </div>
        </li>
        <li>
          <div class="flex items-center">
            <label class="ms-2 text-sm">
              <input
                type="radio"
                class="radio mr-2"
                x-model="$store.visOptions.legendPosition"
                value="vertical"
                :disabled="!$store.visOptions.visible.includes('plotLegends')"
              />
              Vertical Legend
            </label>
          </div>
        </li>
        <li>
          <div class="flex items-center">
            <label class="ms-2 text-sm">
              <input
                type="radio"
                class="radio mr-2"
                x-model="$store.visOptions.legendOverlap"
                value="inside"
                :disabled="!$store.visOptions.visible.includes('plotLegends')"
              />
              Inside of Plot
            </label>
          </div>
        </li>
        <li>
          <div class="flex items-center">
            <label class="ms-2 text-sm">
              <input
                type="radio"
                class="radio mr-2"
                x-model="$store.visOptions.legendOverlap"
                value="outside"
                :disabled="!$store.visOptions.visible.includes('plotLegends')"
              />
              Outside of Plot
            </label>
          </div>
        </li>
      </ul>
    </div>
    <label class="toggle text-base-content ml-2">
      <input type="checkbox" checked="checked" x-model="$store.theme.darkMode" @change="document.documentElement.setAttribute('data-theme', $store.theme.darkMode ? 'dark' : 'light')"/>
      <i class="ri-sun-line flex items-center justify-center text-sm" style="contain: size;"></i>
      <i class="ri-moon-line flex items-center justify-center text-sm" style="contain: size;"></i>
    </label>
    <button class="btn btn-ghost rounded-field text-center" @click="$store.theme.denseLayout = !$store.theme.denseLayout">
      <i x-show="$store.theme.denseLayout" class="ri-layout-grid-fill h-10 w-10 fill-current font-normal text-xl content-center"></i>
      <i x-show="!$store.theme.denseLayout" class="ri-layout-grid-2-fill h-10 w-10 fill-current font-normal text-xl content-center"></i>
    </button>
  </div>
</div>
