<div class="navbar bg-base-100 shadow-md">
  <div class="navbar-start">
    <a href="{% url 'home' %}" class="btn btn-icon btn-ghost">
      <span class="text-3xl">MIXTAPE</span>
    </a>
  </div>
  {% if request.path == '/' %}
  <div class="navbar-center">
    <i class="ri-home-2-line mr-2 text-xl"></i>
    Explore Episodes
  </div>
  {% else %}
  <div class="navbar-center">
    Episode Insights
    <i class="ri-bar-chart-line ml-2 text-xl"></i>
  </div>
  {% endif %}
  <div class="navbar-end">
    <div class="dropdown dropdown-end">
      <button class="btn btn-ghost rounded-field">
        <i class="ri-settings-5-line text-lg"></i>
      </button>
      <ul
        class="menu dropdown-content bg-base-200 rounded-box z-1 mt-4 p-2 shadow-sm"
        style="width: max-content;"
      >
        <li>
          <div class="flex items-center">
            <label class="ms-2 text-sm">
              <input
                type="checkbox"
                class="checkbox mr-2"
                x-model="$store.visOptions"
                value="actionClustering"
              />
              Action Clustering
            </label>
          </div>
        </li>
        <li>
          <div class="flex items-center">
            <label class="ms-2 text-sm">
              <input
                type="checkbox"
                class="checkbox mr-2"
                x-model="$store.visOptions"
                value="combatReward"
              />
              Combat Reward
            </label>
          </div>
        </li>
        <li>
          <div class="flex items-center">
            <label class="ms-2 text-sm">
              <input
                type="checkbox"
                class="checkbox mr-2"
                x-model="$store.visOptions"
                value="decomposedRewards"
              />
              Decomposed Rewards
            </label>
          </div>
        </li>
        <li>
          <div class="flex items-center">
            <label class="ms-2 text-sm">
              <input
                type="checkbox"
                class="checkbox mr-2"
                x-model="$store.visOptions"
                value="enemyHealth"
              />
              Enemy Health
            </label>
          </div>
        </li>
        <li>
          <div class="flex items-center">
            <label class="ms-2 text-sm">
              <input
                type="checkbox"
                class="checkbox mr-2"
                x-model="$store.visOptions"
                value="episodeDetails"
              />
              Episode Details
            </label>
          </div>
        </li>
        <li>
          <div class="flex items-center">
            <label class="ms-2 text-sm">
              <input
                type="checkbox"
                class="checkbox mr-2"
                x-model="$store.visOptions"
                value="episodeImages"
              />
              Episode Images
            </label>
          </div>
        </li>
        <li>
          <div class="flex items-center">
            <label class="ms-2 text-sm">
              <input
                type="checkbox"
                class="checkbox mr-2"
                x-model="$store.visOptions"
                value="friendlyHealth"
              />
              Friendly Health
            </label>
          </div>
        </li>
        <li>
          <div class="flex items-center">
            <label class="ms-2 text-sm">
              <input
                type="checkbox"
                class="checkbox mr-2"
                x-model="$store.visOptions"
                value="navigation"
              />
              Navigation Rewards
            </label>
          </div>
        </li>
        <li>
          <div class="flex items-center">
            <label class="ms-2 text-sm">
              <input
                type="checkbox"
                class="checkbox mr-2"
                x-model="$store.visOptions"
                value="obsClustering"
              />
              Observation Clustering
            </label>
          </div>
        </li>
        <li>
          <div class="flex items-center">
            <label class="ms-2 text-sm">
              <input
                type="checkbox"
                class="checkbox mr-2"
                x-model="$store.visOptions"
                value="perUnitActions"
              />
              Per Unit Actions
            </label>
          </div>
        </li>
        <li>
          <div class="flex items-center">
            <label class="ms-2 text-sm">
              <input
                type="checkbox"
                class="checkbox mr-2"
                x-model="$store.visOptions"
                value="playbackControls"
              />
              Playback Controls
            </label>
          </div>
        </li>
        <li>
          <div class="flex items-center">
            <label class="ms-2 text-sm">
              <input
                type="checkbox"
                class="checkbox mr-2"
                x-model="$store.visOptions"
                value="predictedRewards"
              />
              Predicted Rewards
            </label>
          </div>
        </li>
        <li>
          <div class="flex items-center">
            <label class="ms-2 text-sm">
              <input
                type="checkbox"
                class="checkbox mr-2"
                x-model="$store.visOptions"
                value="rewardsOverTime"
              />
              Rewards Over Time
            </label>
          </div>
        </li>
        <li>
          <div class="flex items-center">
            <label class="ms-2 text-sm">
              <input
                type="checkbox"
                class="checkbox mr-2"
                x-model="$store.visOptions"
                value="timelines"
              />
              Timelines
            </label>
          </div>
        </li>
        <li>
          <div class="flex items-center">
            <label class="ms-2 text-sm">
              <input
                type="checkbox"
                class="checkbox mr-2"
                x-model="$store.visOptions"
                value="valueEstimate"
              />
              Value Estimate
            </label>
          </div>
        </li>
        <li>
          <div class="flex items-center">
            <label class="ms-2 text-sm">
              <input
                type="checkbox"
                class="checkbox mr-2"
                x-model="$store.visOptions"
                value="unitsOverTime"
              />
              Units Over Time
            </label>
          </div>
        </li>
        <hr/>
        <li>
          <div class="flex items-center">
            <label class="ms-2 text-sm">
              <input
                type="checkbox"
                class="checkbox mr-2"
                x-model="$store.visOptions"
                value="plotLegends"
              />
              Show Legends
            </label>
          </div>
        </li>
      </ul>
    </div>
    <label class="toggle text-base-content">
      <input type="checkbox" checked="checked" x-model="$store.theme.darkMode" @change="document.documentElement.setAttribute('data-theme', $store.theme.darkMode ? 'dark' : 'light')"/>
      <i class="ri-sun-line flex items-center justify-center text-sm" style="contain: size;"></i>
      <i class="ri-moon-line flex items-center justify-center text-sm" style="contain: size;"></i>
    </label>
  </div>
</div>
