<div
  x-data="{
    data: [],
    layout: {
      ...basePlotLayout,
      title: { text: 'Units Over Time' },
      xaxis: {
        ...basePlotLayout.xaxis,
        title: { text: 'Steps Alive' },
      },
      yaxis: {
        ...basePlotLayout.yaxis,
        title: { text: 'Units' },
        type: 'category'
      },
      margin: { l: 100, r: 40, t: 40, b: 40 },
      barmode: 'group',
    },
    plot: null,
    unitLifetimesData: [],
  }"
  x-init="
    unitLifetimesData = parsedData.unit_lifetimes || [];
    unitLifetimesData.forEach((episodeData, idx) => {
      if (!episodeData) return;
      const unitData = Object.entries(episodeData).map(([unitId, unitData]) => ({
        unit: `${unitId}`,
        stepsAlive: unitData?.total_steps || 0,
        deathStep: unitData?.death_step || 0
      }));
      data.push({
        type: 'bar',
        orientation: 'h',
        x: unitData.map(d => d.stepsAlive),
        y: unitData.map(d => d.unit),
        name: `episode ${episodeIds[idx]}`,
      });
    });

    plot = Plotly.react($refs.unitsOverTime, data, layout, basePlotConfig);
    $watch('$store.visOptions', () => {
      $nextTick(() => {
        Plotly.relayout(
          $refs.unitsOverTime,
          {
            autosize: true,
            showlegend: $store.visOptions.visible.includes('plotLegends'),
            legend: legendLayout(),
          })
      });
    });
  "
  x-effect="
    if (plot) Plotly.relayout($refs.unitsOverTime, { ...basePlotStyling() });
  "
  class="w-full"
>
  <div x-ref="unitsOverTime"></div>
</div>
