{% extends "core/shared/base.html" %}
{% load static %}
{% load resonant_utils %}

{% block title %}MIXTAPE Home{% endblock %}

{% block extra_head %}
<script src="{% static 'mixtape/core/search_filters.js' %}"></script>
{% endblock %}

{% block content %}
<div x-data="homePageData" data-insights-url="{% url 'insights' %}" class="max-h-screen">
  <div class="h-[8rem]">
    <h1 class="text-2xl font-bold text-center px-4 pt-4">Explore Results</h1>
    {% include "core/home/partials/_search_filters.html" %}
  </div>
  <div class="flex flex-col h-[calc(100vh-9rem)]">
    <div class="m-2 p-2 flex-1 overflow-y-auto min-h-0 rounded-sm">
      <ol id="episodes-list" class="flex flex-col gap-3">
        {% for episode in episodes %}
        <li
          class="card raised p-4 transition-shadow shadow-sm hover:shadow-lg hover:shadow-neutral-800 shadow-neutral-700 bg-base-100"
          data-environment="{{ episode.inference.checkpoint.training.environment }}"
          data-algorithm="{{ episode.inference.checkpoint.training.algorithm }}"
          data-episode-id="{{ episode.pk }}"
          x-show="
            matchesEnvironment('{{ episode.inference.checkpoint.training.environment }}') &&
            matchesAlgorithm('{{ episode.inference.checkpoint.training.algorithm }}') &&
            matchesSearch('{{ episode.inference.checkpoint.training.environment }}', '{{ episode.inference.checkpoint.training.algorithm }}') &&
            (!allowedEnvironment || allowedEnvironment === '{{ episode.inference.checkpoint.training.environment }}')
          "
        >
          <div class="flex items-center justify-between">
            <div class="flex items-center gap-2">
              <input
                x-show="multiSelectMode"
                id="{{ episode.pk }}-checkbox"
                type="checkbox"
                value="{{ episode.pk }}"
                x-model="selectedEpisodes"
                @change="updateAllowedEnvironment('{{ episode.inference.checkpoint.training.environment }}')"
                class="checkbox checkbox-primary"
                :disabled="allowedEnvironment && allowedEnvironment !== '{{ episode.inference.checkpoint.training.environment }}'"
              >
              <a href="{% url 'insights' %}?episode_id={{ episode.pk }}" class="flex items-baseline gap-2 hover:underline">
                <span class="font-bold text-lg">{{ episode.inference.checkpoint.training.environment }}</span>
                <span class="text-sm opacity-60 italic">
                  {{ episode.inference.created|date:"D d M Y" }}
                  {{ episode.inference.created|time:"H:i" }}
                </span>
              </a>
            </div>
          </div>
          <div class="ml-8 mt-1 flex items-center gap-3 text-sm opacity-75">
            <span class="badge badge-outline">{{ episode.inference.checkpoint.training.algorithm }}</span>
            <span>{{ episode.inference.checkpoint.training.iterations }} Iterations</span>
            {% if episode.inference.checkpoint.training.parallel %}
              <span class="badge badge-outline badge-accent">Parallel</span>
            {% endif %}
          </div>
          <div x-data="{ open: false }" class="card mt-3">
            <button @click="open = !open" class="flex items-center justify-between w-full p-3 gap-3">
              <span>Training Details</span>
              <i x-show="!open" class="ri-arrow-down-s-line"></i>
              <i x-show="open" class="ri-arrow-up-s-line"></i>
            </button>
            <div x-show="open" class="max-h-[300px] overflow-auto border border-neutral-900 border-2 p-2 flex">
              <pre class="flex-1">{{ episode.inference.checkpoint.training.config|pretty_json:2 }}</pre>
              <div class="flex justify-end">
                <a
                  href="data:text/json;charset=utf-8,{{ episode.inference.checkpoint.training.config|pretty_json:2|safe|urlencode }}"
                  download="training_{{ episode.inference.checkpoint.training.pk }}_config.json"
                  class="btn btn-accent px-3 py-1 rounded-lg"
                >
                  <i class="ri-download-line"></i>
                </a>
              </div>
            </div>
          </div>
          <div x-show="Object.keys({{ episode.inference.config }}).length" x-data="{ open: false }" class="card mt-2">
            <button @click="open = !open" class="flex items-center justify-between w-full p-3 gap-3">
              <span>Episode Details</span>
              <i x-show="!open" class="ri-arrow-down-s-line"></i>
              <i x-show="open" class="ri-arrow-up-s-line"></i>
            </button>
            <div x-show="open" class="max-h-[300px] overflow-auto">
              <div class="flex justify-end">
                <a
                  href="data:text/json;charset=utf-8,{{ episode.inference.config|pretty_json:2|safe|urlencode }}"
                  download="episode_{{ episode.pk }}_config.json"
                  class="btn btn-accent px-2 py-1 rounded-lg"
                >
                  <i class="ri-download-line"></i>
                </a>
              </div>
              <pre>{{ episode.inference.config|pretty_json:2 }}</pre>
            </div>
          </div>
        </li>
        {% endfor %}
      </ol>
    </div>
  </div>
</div>
{% endblock %}
