{% extends "core/shared/base.html" %}
{% load resonant_utils %}

{% block title %}MIXTAPE Home{% endblock %}

{% block content %}
<h1 class="text-2xl font-bold text-center px-4 pt-4">Explore Results</h1>
<div
  x-data="{
    selectedEpisodes: [],
    allowedEnvironment: null,
    updateAllowedEnvironment(env) {
      if (this.selectedEpisodes.length === 0) {
        this.allowedEnvironment = null;
      } else {
        this.allowedEnvironment = env;
      }
    },
    viewSelectedEpisodes() {
      window.location.href = '{% url 'insights' %}?episode_id=' + this.selectedEpisodes.join('&episode_id=');
    }
  }"
>
  <div class="w-full flex justify-end p-4">
    <button
      class="btn btn-primary"
      :disabled="selectedEpisodes.length === 0"
      @click="viewSelectedEpisodes"
    >
      View Selected Episodes
    </button>
  </div>
  <ol class="px-4 flex flex-col gap-4">
    {% for episode in episodes %}
    <li
      class="card card-border bg-base-100 border-base-300 shadow-md p-2"
      x-show="!allowedEnvironment || allowedEnvironment === '{{ episode.inference.checkpoint.training.environment }}'"
    >
      <div class="flex justify-between">
        <div>
          <input
            id="{{ episode.pk }}-checkbox"
            type="checkbox"
            value="{{ episode.pk }}"
            x-model="selectedEpisodes"
            @change="updateAllowedEnvironment('{{ episode.inference.checkpoint.training.environment }}')"
            class="checkbox mr-1"
          >
          <a href="{% url 'insights' %}?episode_id={{ episode.pk }}" class="rounded-lg">
            <span>
              <span class="font-bold mx-2">{{ episode.inference.checkpoint.training.environment }}</span>
              <span class="italic">
                {{ episode.inference.created|date:"D d M Y" }}
                {{ episode.inference.created|time:"H:i" }}
              </span>
            </span>
          </a>
        </div>
        <a href="{% url 'insights' %}?episode_id={{ episode.pk }}" target="_blank" class="btn btn-primary btn-ghost rounded-lg">
          <i class="ri-external-link-line"></i>
        </a>
      </div>
      <div class="ml-4">
        <span>{{ episode.inference.checkpoint.training.algorithm }}</span>
        <span>{{ episode.inference.checkpoint.training.iterations }} Iterations</span>
        {% if episode.inference.checkpoint.training.parallel %}
          <span>Parallel</span>
        {% endif %}
      </div>
      <div x-data="{ open: false }" class="card bg-base-300 mt-2">
        <button @click="open = !open" class="flex items-center justify-between w-full p-3 gap-3">
          <span>Training Details</span>
          <i x-show="!open" class="ri-arrow-down-s-line"></i>
          <i x-show="open" class="ri-arrow-up-s-line"></i>
        </button>
        <div x-show="open" class="max-h-[300px] overflow-auto">
          <div class="flex justify-end">
            <a
              href="data:text/json;charset=utf-8,{{ episode.inference.checkpoint.training.config|pretty_json:2|safe|urlencode }}"
              download="training_{{ episode.inference.checkpoint.training.pk }}_config.json"
              class="btn btn-primary btn-ghost px-2 py-1 rounded-lg"
            >
              <i class="ri-download-line"></i>
            </a>
          </div>
          <pre>{{ episode.inference.checkpoint.training.config|pretty_json:2 }}</pre>
        </div>
      </div>
      <div x-show="Object.keys({{ episode.inference.config }}).length" x-data="{ open: false }" class="card bg-base-300 mt-2">
        <button @click="open = !open" class="flex items-center justify-between w-full p-3 gap-3">
          <span>Episode Details</span>
          <i x-show="!open" class="ri-arrow-down-s-line"></i>
          <i x-show="open" class="ri-arrow-up-s-line"></i>
        </button>
        <div x-show="open" class="max-h-[300px] overflow-auto">
          <div class="flex justify-end">
            <a
              href="data:text/json;charset=utf-8,{{ episode.inference.config|pretty_json:2|safe|urlencode }}"
              download="episode_{{ episode.pk }}_config.json"
              class="btn btn-primary btn-ghost px-2 py-1 rounded-lg"
            >
              <i class="ri-download-line"></i>
            </a>
          </div>
          <pre>{{ episode.inference.config|pretty_json:2 }}</pre>
        </div>
      </div>
    </li>
    {% endfor %}
  </ol>
</div>
{% endblock %}
