<div x-data="{
    data: [],
    layout: {
      title: {text: 'Actions VS Frequency'},
      autosize: true,
      barmode: Object.keys($store.insights.actionVFrequency).length > 1 ? 'group' : 'stack',
      showlegend: $store.settings.showPlotLegends,
      paper_bgcolor: $store.theme.backgroundColor,
      plot_bgcolor: $store.theme.backgroundColor,
      font: {
        color: $store.theme.fontColor
      },
      xaxis: {
        gridcolor: $store.theme.gridColor,
        linecolor: $store.theme.gridColor,
        zeroline: false,
      },
      yaxis: {
        gridcolor: $store.theme.gridColor,
        linecolor: $store.theme.gridColor,
        zeroline: false,
      },
    },
    config: {
      displayModeBar: false,
    },
    plot: null,
    actionVFrequency: Object.keys($store.insights.actionVFrequency).length > 1 ? $store.insights.actionVFrequency : Object.values($store.insights.actionVFrequency)[0],
    resizePlot: _.debounce(function() {
      if (!this.$refs.actionsFrequency.querySelector('.plotly')) return;
      Plotly.Plots.resize(this.$refs.actionsFrequency);
    }, 200, {leading: true}),
  }"
  x-init="
    Object.entries($store.insights.actionVFrequency).forEach(([grouping, values]) => {
      data.push({
        x: Object.keys(values),
        y: Object.values(values),
        type: 'bar',
        name: grouping,
        marker: {
          line: {
            width: 2
          }
        }
      });
    });
    this.plot = Plotly.react($refs.actionsFrequency, data, layout, config);
    $watch('$store.settings.showPlotLegends', () => {
      $nextTick(() => {
        Plotly.relayout(
          $refs.actionsFrequency,
          {
            autosize: true,
            showlegend: $store.settings.showPlotLegends
          })
      });
    });"
  x-resize="resizePlot"
>
  <div x-ref="actionsFrequency" class="w-full"></div>
</div>
