<div
  x-data="{
    data: [],
    layout: {
      title: {text: 'Agent {{title}}'},
      height: 450,
      xaxis: {
        showticklabels: false,
        gridcolor: $store.theme.axis.gridcolor,
        zerolinecolor: $store.theme.axis.zerolinecolor
      },
      yaxis: {
        showticklabels: false,
        gridcolor: $store.theme.axis.gridcolor,
        zerolinecolor: $store.theme.axis.zerolinecolor
      },
      paper_bgcolor: $store.theme.paper_bgcolor,
      plot_bgcolor: $store.theme.plot_bgcolor,
      font: $store.theme.font,
    },
    plot: null,
  }"
  x-init="
    data = [];
    for (let agent_idx = 0; agent_idx < uniqueAgents.length; agent_idx++) {
      clustering[{{key}}].episode_manifolds.forEach((episode_manifold, episode_idx) => {
        data.push({
          x: episode_manifold.map(row => row[agent_idx][0]),
          y: episode_manifold.map(row => row[agent_idx][1]),
          type: 'scatter',
          mode: 'lines',
          colorscale: 'YlOrRd',
          line: {
            opacity: 1,
            width: 2
          },
          name: `Episode ${episodeIds[episode_idx]} ${uniqueAgents[agent_idx]}`
        });
      });
    }
    data.push({
      x: clustering[{{key}}].all_manifolds_x,
      y: clustering[{{key}}].all_manifolds_y,
      type: 'scatter',
      mode: 'markers',
      marker: {
        color: clustering[{{key}}].all_clusters,
        cmin: 0,
        cmax: 9,
        colorscale: 'Viridis',
        size: 20,
        opacity: Array(clustering[{{key}}].all_manifolds_x.length).fill(1)
      },
      name: 'All Episodes'
    })
    this.plot = Plotly.newPlot($refs.allManifolds, data, layout, {displayModeBar: false, responsive: true});
    $nextTick(() => { Plotly.Plots.resize($refs.allManifolds); });
    window.addEventListener('resize', () => { Plotly.Plots.resize($refs.allManifolds); });
    $watch('visOptions', () => {
      $nextTick(() => {
        Plotly.relayout(
          $refs.allManifolds,
          {
            autosize: true,
            showlegend: visOptions.includes('plotLegends')
          })
      });
    });"
  x-effect="
    if (this.plot) {
      const numAgents = uniqueAgents.length;
      const numEpisodes = episodeIds.length;
      const startIdx = currentStep * numAgents;
      const endIdx = startIdx + numAgents;

      // Get the current plot data from the DOM element
      const plotElement = $refs.allManifolds;
      const currentData = plotElement.data;

      // Remove the highlight trace if it exists (it will be last, at numEpisodes * numAgents + 1)
      if (currentData && currentData.length > (numEpisodes * numAgents + 1)) {
        Plotly.deleteTraces($refs.allManifolds, [numEpisodes * numAgents + 1]);
      }

      // Create arrays for the highlighted points
      const highlightX = [];
      const highlightY = [];
      const highlightText = [];

      for (let agentIdx = 0; agentIdx < numAgents; agentIdx++) {
        for (let episodeIdx = 0; episodeIdx < numEpisodes; episodeIdx++) {
          const idx = agentIdx + episodeIdx * numAgents;
          const agentTrace = currentData[idx];
          if (currentStep < agentTrace.x.length && agentTrace && (!agentTrace.visible || agentTrace.visible === true)) {
            highlightX.push(agentTrace.x[currentStep]);
            highlightY.push(agentTrace.y[currentStep]);
            highlightText.push(`${uniqueAgents[agentIdx]} Episode ${episodeIds[episodeIdx]}`);
          }
        }
      }

      // Only add the highlight trace if there are visible points
      if (highlightX.length > 0) {
        // Add new trace for highlighted points
        const textPosition = ['top left', 'middle left', 'bottom left', 'top center', 'middle center', 'bottom center', 'top right', 'middle right', 'bottom right'];
        Plotly.addTraces($refs.allManifolds, [{
          x: highlightX,
          y: highlightY,
          text: highlightText,
          type: 'scatter',
          mode: 'markers+text',
          showlegend: false,
          textposition: textPosition,
          textfont: {
            size: 12,
            color: $store.theme.font.color
          },
          marker: {
            color: 'transparent',
            size: 20,
            line: {
              width: 3,
              color: 'red'
            }
          }
        }]);
      }
    }"
>
  <div x-ref="allManifolds" class="w-full"></div>
</div>
