{% extends "core/shared/base.html" %}
{% load static %}

{% block title %}Insights{% endblock %}

{% block extra_head %}
  {{ block.super }}
  <script src="{% static 'mixtape/core/insights/insightsStore.js' %}"></script>
  <script src="{% static 'mixtape/core/insights/settingsStore.js' %}"></script>
  <script src="{% static 'mixtape/core/insights/insightsTabs.js' %}"></script>
  <script src="{% static 'mixtape/core/insights/rewardsOverTimeDecomp.js' %}"></script>
  <script src="{% static 'mixtape/core/insights/rewardsFrequency.js' %}"></script>
  <script src="{% static 'mixtape/core/insights/actionsFrequency.js' %}"></script>
  <script src="{% static 'mixtape/core/insights/rewardsOverTime.js' %}"></script>
  <script src="{% static 'mixtape/core/insights/actionsRewards.js' %}"></script>
{% endblock %}

{% block content %}
{{ parsed_data|json_script:"parsed_data_json" }}
{{ clustering|json_script:"clustering_json" }}
{{ multi_key|json_script:"clustering_multi_key" }}
{{ clustering_available|json_script:"clustering_available_json" }}
<div class="flex flex-row gap-4 min-h-screen p-4">
  {% include "core/shared/partials/_side_panel_overview.html" %}
  {% include "core/insights/partials/_tabs_overview.html" %}
</div>
{% endblock %}
