<section class="flex items-center justify-center w-full gap-2 px-2 py-1 border border-base-300 rounded-lg">
  <button
    class="btn btn-ghost btn-sm"
    :disabled="currentStep === 0"
    @click="currentStep = 0"
  >
    <i class="ri-rewind-start-line"></i>
  </button>
  <button
    class="btn btn-ghost btn-sm"
    :disabled="currentStep === 0"
    @click="currentStep--"
  >
    <i class="ri-rewind-line"></i>
  </button>
  <button
    class="btn btn-ghost btn-sm"
    @click="playing = !playing; if (playing) stepForward()"
  >
    <i x-show="!playing" x-cloak class="ri-play-line"></i>
    <i x-show="playing" x-cloak class="ri-pause-line"></i>
  </button>
  <button
    class="btn btn-ghost btn-sm"
    :disabled="currentStep === maxSteps"
    @click="currentStep++"
  >
    <i class="ri-speed-line"></i>
  </button>
  <button
    class="btn btn-ghost btn-sm"
    :disabled="currentStep === maxSteps"
    @click="currentStep = maxSteps"
  >
    <i class="ri-forward-end-line"></i>
  </button>
  <div class="flex items-center gap-1 pl-2">
    <input
      x-cloak
      type="number"
      class="input input-sm validator w-16 text-center"
      min="0"
      :max="maxStepsGlobal"
      x-model.number="currentStep"
    />
    <span class="text-xs">/ <span x-text="maxStepsGlobal"></span></span>
  </div>
</section>
