<div x-data="{
  data: [],
  layout: {
    title: {text: 'Rewards VS Frequency'},
    xaxis: {title: {text: 'Reward'}},
    yaxis: {title: {text: 'Frequency'}},
    autosize: true,
    barmode: 'overlay',
    showlegend: visOptions.includes('plotLegends'),
    paper_bgcolor: $store.theme.paper_bgcolor,
    plot_bgcolor: $store.theme.plot_bgcolor,
    font: $store.theme.font,
    xaxis: {
      gridcolor: $store.theme.axis.gridcolor,
      zerolinecolor: $store.theme.axis.zerolinecolor
    },
    yaxis: {
      gridcolor: $store.theme.axis.gridcolor,
      zerolinecolor: $store.theme.axis.zerolinecolor
    },
  },
  config: {
    displayModeBar: false,
    responsive: true
  },
  plot: null,
}"
x-init="
rewardHistogram.forEach((episode, idx) => {
    data.push({
      x: episode,
      type: 'histogram',
      name: `Episode ${episodeIds[idx]}`,
      marker: {
        line: {
          width: 2
        }
      }
    });
  });
  this.plot = Plotly.newPlot($refs.rewardsFrequency, data, layout, config);
  $nextTick(() => { Plotly.Plots.resize($refs.rewardsFrequency); });
  window.addEventListener('resize', () => { Plotly.Plots.resize($refs.rewardsFrequency); });
  $watch('visOptions', () => {
    $nextTick(() => {
      Plotly.relayout(
        $refs.rewardsFrequency,
        {
          autosize: true,
          showlegend: visOptions.includes('plotLegends')
        })
    });
  });"
>
  <div x-ref="rewardsFrequency" class="w-full"></div>
</div>

