<div x-cloak
  x-data="{
    data: [],
    layout: {
      title: {text: 'Rewards Over Time'},
      xaxis: {title: {text: 'Time Step'}},
      yaxis: {title: {text: 'Cumulative Reward'}},
      autosize: true,
      showlegend: visOptions.includes('plotLegends'),
      paper_bgcolor: $store.theme.paper_bgcolor,
      plot_bgcolor: $store.theme.plot_bgcolor,
      font: $store.theme.font,
      annotations: [
        {
          x: currentStep,
          y: rewardsOverTime[0][currentStep],
          text: rewardsOverTime[0][currentStep].toFixed(2),
        }
      ],
      xaxis: {
        gridcolor: $store.theme.axis.gridcolor,
        zerolinecolor: $store.theme.axis.zerolinecolor
      },
      yaxis: {
        gridcolor: $store.theme.axis.gridcolor,
        zerolinecolor: $store.theme.axis.zerolinecolor
      },
    },
    config: {
      displayModeBar: false,
      responsive: true
    },
    plot: null,
    getStep(episode) {
      if (this.currentStep < Object.keys(episode).length) {
        return this.currentStep;
      }
      return Object.keys(episode).length - 1;
    },
  }"
  x-init="
    rewardsOverTime.forEach((episode, idx) => {
      data.push({
        x: Array.from({length: episode.length}, (_, i) => i),
        y: episode,
        type: 'scatter',
        name: `Episode ${episodeIds[idx]}`,
        marker: {
          line: {
            width: 2
          }
        }
      });
    });
    data.push({
      x: [currentStep, currentStep],
      y: [0, Math.max(...rewardsOverTime.flat())],
      type: 'scatter',
      mode: 'lines',
      line: {
        color: 'red',
        width: 2,
        dash: 'dash'
      },
      name: 'Current Step'
    });
    this.plot = Plotly.newPlot($refs.rewardsOverTime, data, layout, config);
    // Ensure plot stretches to container width
    $nextTick(() => { Plotly.Plots.resize($refs.rewardsOverTime); });
    window.addEventListener('resize', () => { Plotly.Plots.resize($refs.rewardsOverTime); });
    $watch('visOptions', () => {
      $nextTick(() => {
        Plotly.relayout(
          $refs.rewardsOverTime,
          {
            autosize: true,
            showlegend: visOptions.includes('plotLegends')
          })
      });
    });
    // When the Rewards tab becomes visible, ensure we resize once it's painted
    $watch('active', (val) => {
      if (val === 'Rewards') {
        $nextTick(() => { Plotly.Plots.resize($refs.rewardsOverTime); });
      }
    });
    "
  x-effect="
    if (this.plot) {
      Plotly.update($refs.rewardsOverTime, {
        x: [[currentStep, currentStep]],
        y: [[Math.min(...rewardsOverTime.flat()), Math.max(...rewardsOverTime.flat())]]
      }, {
        annotations: rewardsOverTime.map((episode, idx) => {
          return {
            x: getStep(episode),
            y: episode[getStep(episode)],
            text: episode[getStep(episode)].toFixed(2),
          }
        })
      }, [rewardsOverTime.length]);
    }"
>
  <div x-ref="rewardsOverTime" class="w-full"></div>
</div>
