<div x-cloak
  x-data="{
    data: [],
    layout: {
      title: {text: 'Rewards Over Time'},
      xaxis: {
        title: {text: 'Time Step'},
        gridcolor: $store.theme.gridColor,
        linecolor: $store.theme.gridColor,
        zeroline: false,
      },
      yaxis: {
        title: {text: 'Cumulative Reward'},
        gridcolor: $store.theme.gridColor,
        linecolor: $store.theme.gridColor,
        zeroline: false,
      },
      autosize: true,
      showlegend: $store.settings.showPlotLegends,
      paper_bgcolor: $store.theme.backgroundColor,
      plot_bgcolor: $store.theme.backgroundColor,
      font: {
        color: $store.theme.fontColor
      },
      annotations: [
        {
          x: currentStep,
          y: rewardsOverTime[0][currentStep],
          text: rewardsOverTime[0][currentStep].toFixed(2),
        }
      ],
    },
    config: {
      displayModeBar: false,
      responsive: true
    },
    plot: null,
    resizePlot: _.debounce(function() {
      if (!this.$refs.rewardsOverTime.querySelector('.plotly')) return;
      Plotly.Plots.resize(this.$refs.rewardsOverTime);
    }, 200, {leading: true}),
    getStep(episode) {
      if (this.currentStep < Object.keys(episode).length) {
        return this.currentStep;
      }
      return Object.keys(episode).length - 1;
    },
  }"
  x-init="
    rewardsOverTime.forEach((episode, idx) => {
      data.push({
        x: Array.from({length: episode.length}, (_, i) => i),
        y: episode,
        type: 'scatter',
        name: `Episode ${episodeIds[idx]}`,
        marker: {
          line: {
            width: 2
          }
        }
      });
    });
    data.push({
      x: [currentStep, currentStep],
      y: [0, Math.max(...rewardsOverTime.flat())],
      type: 'scatter',
      mode: 'lines',
      line: {
        color: 'red',
        width: 2,
        dash: 'dash'
      },
      name: 'Current Step'
    });
    this.plot = Plotly.newPlot($refs.rewardsOverTime, data, layout, config);
    $watch('$store.settings.showPlotLegends', () => {
      $nextTick(() => {
        Plotly.relayout(
          $refs.rewardsOverTime,
          {
            autosize: true,
            showlegend: $store.settings.showPlotLegends
          })
      });
    });
    "
  x-effect="
    if (this.plot) {
      Plotly.update($refs.rewardsOverTime, {
        x: [[currentStep, currentStep]],
        y: [[Math.min(...rewardsOverTime.flat()), Math.max(...rewardsOverTime.flat())]]
      }, {
        annotations: rewardsOverTime.map((episode, idx) => {
          return {
            x: getStep(episode),
            y: episode[getStep(episode)],
            text: episode[getStep(episode)].toFixed(2),
          }
        })
      }, [rewardsOverTime.length]);
    }"
  x-resize="resizePlot"
>
  <div x-ref="rewardsOverTime" class="w-full"></div>
</div>
